.register_img{
    width: 60%;
    text-align: center;
}
.register_img img{
    width: 70%;
    object-fit: contain;
}
.register_form{
    padding: 50px;
    background: var(--secondary-color);
    position: relative;
}
.register_container{
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    margin-top: 100px;
}
.register_form .user{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -9%;
    left: 27%;
    transform: translate(27%, -9%);
}
.register_form .user img{
    width: 100%;
}
.register_form h2{
    color: #fff;
    text-align: center;
    margin-bottom: 2rem;
}
.register_form{
    width: 40%;
}
.register_form input{
    width: 100%;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--heading-color);
}
.register_form input:focus{
    outline: none;
}
.auth_btn{
    background: var(--heading-color) !important;
    width: 100%;
    color: #fff !important;
}
.register_form p{
    font-size: 0.9rem;
    color: #fff;
    margin-top: 1.5rem;
    text-align: center;
}
.register_form p a{
    color: var(--heading-color);
    text-decoration: none;
    margin-left: 5px;
    font-weight: 500;
}