.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255,255,255,0.18);
    align-items: center;
}
.logo img{
    width: 30%;
}
.menu{
    margin-bottom: 0;
}
.nav_item a{
    text-decoration: none;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.1rem;
    
}

.nav_item a:hover{
    color:inherit;
}
.nav_item a.active_link{
    color: var(--secondary-color) ;
    transform:scaleX(0);
    transition: all 0.6s ease;
}
.mobile_menu{
    font-size: 1.3rem;
    color: var(--heading-color);
    
}
.sticky_header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: #fff;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 8px -3px #ddd ;
    z-index: 999;
}
